<!-- FOOTER -->
<div class="footer">
    <div class="footerLogoName">
        <img class="footerLogo" src="img/Logos/restaurantLogo.jpg">
        <span class="footerName"><b>Best Burger's - American Diner</b></span>
    </div>
    <div>
        <a class="footerLink" href="impressum.html">Impressum</a><!-- IMPRESSUM LINK -->
        |
        <a class="footerLink" href="datenschutz .html">Datenschutz</a><!-- DATENSCHUTZ LINK -->
        |
        <a class="footerLink" href="credits.html">Credits</a>
    </div>
    
</div>
