<div class="topSection">
   <a href="index.html">
      <img class="topSectionTitleImg" src="img/Logos/title.png">
   </a>
    <div class="topSectionMiddle">
       <span id="orderCard"><b>Information</b></span>
    </div>
    <div class="topSectionRight">

      <button id="germanLanguage" onclick="changeLanguageEngSidePage()" class="languageButton"><!-- SPRACHE ÄNDERN > ENGLISCH -->
         <img  class="languageImg" src="img/Sprachen/german.png">
      </button> 

      <button id="englishLanguage" onclick="changeLanguageGerSidePage()" class="languageButton d-none"><!-- SPRACHE ÄNDERN > DEUTSCH -->
         <img  class="languageImg" src="img/Sprachen/england.png">
      </button>

       <img class="burgerMenuImg" src="img/Logos/3Stripes.png">
    </div>
</div>
